click
dlib
face-recognition
face-recognition-models
imutils==0.5.3
joblib==0.17.0
numpy
opencv-contrib-python
Pillow
scikit-learn
scipy
threadpoolctl
face-recognition
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
python-dotenv
streamlit
pathlib
psutil
numpy
